.app-titulo-principal {
  text-align: center;
}

ul#membros {
  list-style-type: none;
}

ul#membros > li {
  text-align: left;
}

ul#membros figcaption {
  font-weight: bold;
}

.membro-avatar {
  width: 25%;
}

#pesquisa {
  width: 300px;
}
